<div *ngIf="fetched then retrievedBlock else notRetrievedBlock"></div>
<ng-template #retrievedBlock>
    <div *ngIf="meetings.length > 0 then hasMeetings else noMeetings"></div>
    <ng-template #hasMeetings>
        <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-primary text-center">
                    <div class="row">
                        <div class="col-6">Agenda</div>
                        <div class="col-3">Date</div>
                        <div class="col-3">Time</div>
                    </div>
                </li>
                <li *ngFor="let meeting of meetings" class="list-group-item list-group-item-action text-center">
                    <div class="row">
                        <div class="col-6">{{ meeting.agenda }}</div>
                        <div class="col-3">{{ meeting.date | date:'MM/dd/yyy' }}</div>
                        <div class="col-3">{{ meeting.date | date:'HH:mm' }}</div>
                    </div>
                </li>
            </ul>
    </ng-template>
    <ng-template #noMeetings>
        There are no scheduled meetings.
    </ng-template>
</ng-template>
<ng-template #notRetrievedBlock>
    <div *ngIf="!error then noErrorBlock else errorBlock"></div>
    <ng-template #noErrorBlock>
        Loading...
    </ng-template>
    <ng-template #errorBlock>
        There was an error retrieving scheduled meetings!
    </ng-template>
</ng-template>
