<header *ngIf="isAuthorised">
    <nav class="navbar fixed-top mybar">
        <div class="container-fluid">
            <a class="navbar-brand d-flex gap-2 align-items-center" href="#">
                <img src="https://oldsite.unipi.gr/unipi/odigos_spoudon/unipilogo.png" height="50"/> 
                <span class="hide">Thesis Management Platform</span>
            </a>
            <div class="d-flex align-items-center gap-3">
                <span class="">{{fullName}}, {{ username }}</span>
                <button class="btn btn-outline-primary" (click)="logout()"><span class="bi bi-box-arrow-right"></span> Log out</button>
            </div>
        </div>
    </nav>
</header>
<main [ngClass]="{'container main': isAuthorised}">
    <router-outlet></router-outlet>
</main>
