<div *ngIf="fetched then retrievedBlock else notRetrievedBlock"></div>
<ng-template #retrievedBlock>
    <div *ngIf="thesis then hasThesis else noThesis"></div>
    <ng-template #hasThesis>
        <p>
            <strong>Title:</strong> {{ thesis!.title }}<br>
            <strong>Start Date:</strong> {{ thesis!.startDate }}<br>
            <strong>Final Grade:</strong> {{ thesis!.finalGrade }}<br>
            <button class="btn btn-primary mt-1" (click)="onGrade()">Grade</button>
        </p>

        <div class="mb-3">
            <h6 class="text-secondary">Programming Languages:</h6>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let lang of thesis!.programmingLanguages">
                    {{ lang }}
                </li>
            </ul>
        </div>

        <div class="mb-3">
            <h6 class="text-secondary">Technologies:</h6>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let tech of thesis!.technologies">
                    {{ tech }}
                </li>
            </ul>
        </div>

        <div class="mt-4">
            <h6 class="text-secondary">Student Information:</h6>
            <p class="card-text">
                <strong>Name:</strong> {{ thesis!.studentFirstName }} {{ thesis!.studentLastName }}<br>
                <strong>Email: </strong> 
                <a [href]="'mailto:' + thesis!.studentEmail">{{ thesis!.studentEmail }}</a><br>
                <strong>Phone Number: </strong> 
                <a [href]="'tel:' + thesis!.studentPhoneNumber">{{ thesis!.studentPhoneNumber }}</a>
            </p>
        </div>

        <app-overlay *ngIf="grade" (close)="onOverlayClose()">
            <app-card title="Grade Thesis" width="400px">
                <div class="mb-3">
                    <label for="grade" class="form-label">Enter grade:</label>
                    <input class="form-control" id="grade" name="grade" #grade />
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" (click)="onOk(+grade.value)">OK</button>
                </div>
            </app-card>
        </app-overlay>
    </ng-template>
    <ng-template #noThesis>
        There is no available thesis.
    </ng-template>
</ng-template>
<ng-template #notRetrievedBlock>
    <div *ngIf="!error then noErrorBlock else errorBlock"></div>
    <ng-template #noErrorBlock>
        Loading...
    </ng-template>
    <ng-template #errorBlock>
        There was an error retrieving your thesis information!
    </ng-template>
</ng-template>
